* {
  box-sizing: border-box;
}

body {
  background-color: #ee9ca7;
}

.wrapper {
  margin: 5% auto;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #ffdde1;
  border-radius: 3%;
}

.carousel-visible {
  max-width: 42.5rem;
  overflow: hidden;
  border-radius: 3%;
}

.carousel-items-wrapper {
  display: flex;
  transition: all 0.3s linear;
}

.carousel-item {
  width: 100%;
  height: 80%;
}

.carousel-pagination {
  display: flex;
}

label {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

label:hover {
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 1.3rem;
  height: 1.3rem;
  border: 0.2em solid #2193b0;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #2193b0;
}

@media (hover: hover) {
  input[type="radio"]:hover {
    border: 0.2em solid #6dd5ed;
    cursor: pointer;
  }

  input[type="radio"]:checked:hover {
    background-color: #6dd5ed;
    cursor: pointer;
  }
}

@media (hover: none) {
  input[type="radio"]:hover {
    border: 0.2em solid #2193b0;
    cursor: pointer;
  }

  input[type="radio"]:checked:hover {
    background-color: #2193b0;
    cursor: pointer;
  }
}

input[type="radio"]:active {
  border: 0.2em solid #FFFFFF;
}

.wrapper:has(#img1:checked) .carousel-items-wrapper {
  transform: translateX(0);
}

.wrapper:has(#img2:checked) .carousel-items-wrapper {
  transform: translateX(-100%);
}

.wrapper:has(#img3:checked) .carousel-items-wrapper {
  transform: translateX(-200%);
}

.wrapper:has(#img4:checked) .carousel-items-wrapper {
  transform: translateX(-300%);
}

.wrapper:has(#img5:checked) .carousel-items-wrapper {
  transform: translateX(-400%);
}

@keyframes showLegend {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-item-caption {
  margin: 0;
  display: none;
  font-family: sans-serif;
  font-weight: 600;
}

.wrapper:has(#img1:checked) .carousel-item-caption:nth-of-type(1) {
  display: block;
  animation: showLegend 0.3s;
}

.wrapper:has(#img2:checked) .carousel-item-caption:nth-of-type(2) {
  display: block;
  animation: showLegend 0.3s;
}

.wrapper:has(#img3:checked) .carousel-item-caption:nth-of-type(3) {
  display: block;
  animation: showLegend 0.3s;
}

.wrapper:has(#img4:checked) .carousel-item-caption:nth-of-type(4) {
  display: block;
  animation: showLegend 0.3s;
}

.wrapper:has(#img5:checked) .carousel-item-caption:nth-of-type(5) {
  display: block;
  animation: showLegend 0.3s;
}

.wrapper-bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .wrapper-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .carousel-pagination {
    align-self: center;
  }
}
